<?xml version="1.0" ?>
<robot name="My robot">
    <webots>
        <device reference="lidar2D" type="Lidar">
            <ros>
                <topicName>/scan2D</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <plugin type="my_robot_driver::MyRobotDriver" />
    </webots>
</robot>